.message-bubble {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.message-bubble-sender {
    font-size: 12px;
}

.message-bubble-content {
    width: fit-content;
    max-width: 50%;
}

.message-bubble-text {
    padding: 8px 10px;
    background-color: rgb(73, 73, 73);
}

.message-bubble-text span {
    width: 100%;
    word-break: break-word;
}

.message-bubble-icon {
    padding: 0 !important;
    background-color: transparent !important;
}

.message-bubble-icon span {
    font-size: 30px;
}

.bad-word {
    text-decoration: line-through;
}

.tag_link {
    word-break: break-word;
    color: #f64545;
    text-decoration: none;
}

.url-link {
    text-decoration: underline !important;
}

.tag_link:hover {
    color: #f64545;
    text-decoration: underline;
}