.message-chat-body {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #1a1a1a;
}

.message-chat-body div:first-child {
  margin-top: auto;
}

.message-right {
  display: flex;
  align-items: flex-end;
}
