.login-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 60px);
    background-color: rgb(19, 19, 19);
    color: white;
    flex-direction: column;
}