.hamberger-icon {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    padding: 5px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    display: none;
}

.hamberger-icon>div {
    width: 100%;
    background-color: gray;
    height: 2px;
}

@media (max-width: 900px) {
    .hamberger-icon {
        display: flex;
    }
}