.chat-list {
    flex:300px;
    height: 100%;
    border-top: 1px solid #770000;
    border-bottom: 1px solid #770000;
    overflow: auto;
}

.list-friend-header, .list-group-header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #770000;
    color: #770000;
    padding: 10px 20px;

}

.list-friend-header h4 , .list-group-header h4{
    color: #d3b6b6;
}

.list-friend-body {
    max-height: 200px;
    overflow: auto;
}

.list-group-body {
    max-height: calc(100vh - 360px);
    overflow: auto;
}