.chat-input-area {
    height: 100%;
}

.chat-input-area input{
    width: 100%;
    height: 100%;
    /* background-color: #3a3b3c; */
    padding: 10px 10px;
    margin-right: 8px;
    color: black;
}

.chat-input-area form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.chat-input-area form button {
    background-color: transparent;
    border: none;
}

.chat-input-area form button:hover {
    color: red;
}

.chat-input-area input:focus {
    outline: none;
}