.modal-header , .modal-body, .modal-footer {
    border: none !important;
}

.MentionsStyles_mention__NRekJ {
    background-color: #1877f273;
}

.public-DraftEditorPlaceholder-inner {
    color: rgb(133, 133, 133);
}