.chat-mainarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 100%;
}

.chat-mainarea .avatar {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.chat-mainarea-header {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  z-index: 10;
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.chat-mainarea-body {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow: auto;
}

.chat-mainarea-footer {
  padding: 10px 10px;
  height: fit-content;
}

.group-name-title {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  margin: 0;
}