.chat-subarea-items {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #474747;
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

.chat-subarea-items:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(26, 26, 26);
}

.chat-subarea-members {
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 310px);
  overflow: auto;
}
